.fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  :root {
    --fc-border-color: rgb(0, 0, 0);
    --fc-button-bg-color: rgb(36, 84, 124);
    --fc-event-bg-color: rgb(36, 84, 124);
    --fc-event-border-color: rgb(36, 84, 124);
    --fc-today-bg-color: rgba(36, 84, 124, 0.25);
    --fc-neutral-text-color: #808080;
  }
